
body{
    
    margin-top: 12,5%;
    background-color:rgb(53, 53, 53) ;
    color:rgb(255, 255, 255);
    
}
.button{
    background-image: linear-gradient(to right, rgb(0, 255, 242) , rgb(0, 174, 255));
    color:rgb(20, 102, 255);
    border: none;
    border-radius:10px;
    width:150px;
    height: 50px;
    font-size: 15px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    
    

}
.cloud{
    height: 65px;
    width: 70px;
}
.box h3{
    color: rgba(0, 162, 255, 0.788);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(31, 31, 31);
    color:rgb(255, 255, 255);
    width:  300px;
    height: 400px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 7px;
}
.box:hover{
    height: 450px;
    width: 350px;
    transition: 1s;
    padding-top: 5px;
    box-shadow: 7px 7px 20px 5px rgb(29, 29, 29);
}
