
body{
    
    margin-top: 12,5%;
    background-color:rgb(48, 47, 47) ;
    color:rgb(255, 255, 255);
    
}
.button{
    color:rgb(0, 140, 255);
    background-color: rgb(0, 255, 234);
    padding: 10%;
    border: none;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    
    

}
.cloud{
    height: 65px;
    width: 70px;
}
.box h3{
    color: rgb(0, 255, 213);
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(31, 31, 31);
    color:rgb(255, 255, 255);
    padding: 20px 100px;
    height: 400px;
   
    
}